<h1 class="title"> Sign Up </h1>

<form  class="signUpForm" id="signup-form" action="/user/signup" method="POST">

  <label for="username">Username: </label>
  <input id="username" type="text" name="username" placeholder="Chris123">

  <label for="email">E-mail: </label>
  <input id="email" type="text" name="email" placeholder="Chris123@test.com">

  <label for="password">Password: </label>
  <input id="password" type="text" name="password" value="">

  <input type="submit" class="button" name="signup" value="Sign Up">

</form>