<h1 class="title">{{title}}</h1>
<p>{{prompt}}</p>
<div class="form">
  <form id="registration-form" method="post" action="/posts">
    <input type="text" name="email" placeholder="email/">
    <input type="text" name="username" placeholder="username/">
    <input type="text" name="password" placeholder="password/">
    <input type="text" name="confirm-password" placeholder="confirm password/">
    <button type="submit" value="submit">create</button>
  </form>
</div>
