<h1 class="title"> Login </h1>

<form  class="loginForm" id="login-form" action="/" method="POST">

  <label for="username">Username: </label>
  <input id="username" type="text" name="username" placeholder="Chris123">

  <label for="password">Password: </label>
  <input id="password" type="text" name="password" value="">

  <input type="submit" class="button" name="login" value="Log In">

</form>

<form class="signInForm" action="/signIn" method="POST">
  <button >Sign In</button>
</form>

<form class="signUpForm" action="/signUp" method="POST">
  <button >Sign Up</button>
</form>