<div class="homepage">
<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>

<form class="signInForm" action="/signIn" method="POST">
  <button >Sign In</button>
</form>

<form class="signUpForm" action="/signUp" method="POST">
  <button >Sign Up</button>
</form>