<h1 class="title">{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Welcome {{users}}</p>
<div class="login-page">
  <div class="form">
    <form action="/" method="post" id="login-form">
      <input type="text" name="username" placeholder="username/">
      <input type="text" name="password" placeholder="password/">
      <button type="submit" value="submit">Log in</button>
    </form>

    <form action="/signup" method="get">
      <button type="submit" value="button" href="/sign_up">sign up</button>
    </form>

  </div>
</div>
