<form id = "signin" action="/posts" method="POST">
  <input type="text" name="username" placeholder="username" required>
  <input type="password" name="password" placeholder= "password" required>
  <button type="submit">Submit</button>
</form>