<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  {{/each}}
</ul>

<button><a class="new-post-link" href="/posts/new">New post</a></button>
<button><a class="delete-link" href="/posts">Delete Post</a></button>
