<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  <form action="/posts" method='delete'><button><a href="/posts">delete post</a></button></form>
  {{/each}}
</ul>

<button><a class="new-post-link" href="/posts/new">New post</a></button> 
