<form autocomplete="off" id="new-post-form" action="/posts" method="post">
  <label for="message">Name: </label>
  <input id="message" type="text" name="message" value=""> <br><br>

  {{!-- <label for="comment">Comment:</label><br>
  <textarea name="comment" type='text' id="comment" cols="30" rows="4" value=''>Enter text here...</textarea><br> --}}
  
  <input type="submit" value="Submit">
</form>
